<div class="row">
  <div class="btn-group center-block col-sm-9 max-width">
    <button type="button" class="btn btn-default" {{action "findCave" target="view"}}>
      <span class="glyphicon glyphicon-screenshot"></span>
      Find me a cave
    </button>
    {{#link-to 'search' tagName="button" class="btn btn-default"}}
      <span class="glyphicon glyphicon-search"></span>
      Search a cave
    {{/link-to}}
  </div>
</div>
<div id="map"></div>
